
@{
    ViewData["Title"] = "AboutUs";
}

<h1>AboutUs</h1>
<p>
    I've built this webpage as the final project for COMP 2084. I learned a lot through this course and enjoyed doing this project.
    <br>
    This MVC project uses Cloud Database, CRUD operatons, authorizations, and many more.
</p>