@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to this Webpage based on Fashion and Clothing</h1>
    <p>This project has been built using C# and .Net</p>
</div>
